/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #1b2838;
  
}

.login {
  min-height: 100vh;
  background:
    linear-gradient(
      rgba(10, 20, 40, 0.85),
      rgba(10, 20, 40, 0.85)
    ),
  url("https://t2.tudocdn.net/223397?w=1920&h=1080");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 900px;
  margin-top: -100px;
}

.cartao{
  background: #171a21;
  padding: 40px;
  border-radius: 6px;

  display: flex;
  gap: 50px;
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form label{
  color: #1a9fff;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 8px;
}
.form a{
  align-self: center;
  color: #66c0f4;
  text-decoration: none;
  margin-top: 20px;
  font-size: 14px;
}
.form input[type="text"],
.form input[type="password"] {
  width: 100%;
  background: #32353c;
  border: 1px solid #000;
  color: white;
  padding: 14px;
  margin-bottom: 20px;
  outline: none;
  border-radius: 3px;
}
.lembrete {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #b8b6b4;
  margin-bottom: 20px;
}

.btn {
  width: 260px;
  height: 50px;
  align-self: center;
  background: linear-gradient(to right, #47bfff, #1a44c2);
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.mensagem {
  align-self: center;
  color: #b8b6b4;
  margin-top: 15px;
  
}

.inicio{
  color: white;
  margin-bottom: 30px;
  text-align: left;
} */
